*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(242,244,245);
}
#container_form{
    width: 400px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    padding: 20px 20px;
    margin-top: 40px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 20px 60px 0 #b1b3b4;

    & h1{
        text-align: center;
        padding: 20px;
    }
}
#form_signin{
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    gap: 10px;
    & input{
        padding: 15px;
        border: 1.5px solid rgb(134, 161, 208);
        border-radius: 3px;
        width: 100%;
        height: 50px;
    }
    & input:focus{
        outline: none;
        border: 2px solid rgb(72,142,255);
    }
    & label{
        color: rgb(72,142,255);
    }
    & button{
        background-color: rgb(72,142,255);
        padding: 15px;
        width: 100%;
        height: 50px;
        border: none;
        border-radius: 5px;
        color: #fff;
        transition: 300ms;
        margin-top: 20px;
    }
    & button:hover{
        border: 1.5px solid rgb(72,142,255);
        color: rgb(72,142,255);
        background-color: #fff;
    }
}
.passworderror{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
    & .remem{
        display: flex;
        gap: 5px;
    }
    & .forgotlink{
        text-decoration: none;
        color: rgb(72,142,255);
    }
}
button:hover{cursor: pointer;}
#passwordcont{
    position: relative;
}
.eye-icon{
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    background-color: transparent;
    width: 30px;
    height: 30px;
}
.eye_open{
    width: 100%;
}
    
