@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400&family=Quicksand:wght@300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(242,244,245);
}
#container{
    width: 100%;
    height: auto;
}
.first_date_section{
    width: 100%;
    height: 200px;
    border: 2px solid #000;
    position: relative;
}
.name_last_first{
    position: absolute;
    left: 22%;
    top: 120px;
    position: relative;
    width: 155px;

    & p{font-size: 13px;}
}
.icon_pho{
    position: absolute;
    top: 0;
    right: -35px;
    width: auto;
    height: auto;
    font-size: 1px;
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    padding: 2px 5px;
    background-color: orange;
    border-radius: 3px;
}
.second_date_section{
    width: 250px;
    height: auto;
    border: none;
    border-radius: 3.5px;
    position: absolute;
    left: 55px;
    top: 160px;
    box-shadow: 0px 0px 20px 4px rgba(92, 91, 91, 0.75);
    overflow: hidden;
    background-color: #fff;
}
.second_date_section_photo{
    width: 100%;
    height: 270px;
    position: relative;
}
.img_profile{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contact{
    position: absolute;
    left: 20px;
    bottom: 0;
    margin-bottom: 20px;
    border: 2px solid red;
    width: 100%;
}
.button_more{
    width: auto;
    height: auto;
    background-color: red;
    border: none;
    & img{
        width: 30px;
    }
}
.button_cont{
    border: none;
    background-color: #fff;
    color: #000;
    width: 150px;
    height: 30px;
    border-radius: 50px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    & p{
        color: red;
    }
}
.second_date_section_photo_moreDates{
    padding: 25px;
    & .description_pho{
        font-size: 12px;
        color: gray;
    }
    & .second_date_section_photo_moreDates_stadistics{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        & .statistic{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }
}